@model IEnumerable<FIT5032AssignmentV1.Models.Provider>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Providers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProviderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProviderAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProviderName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProviderAddress)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProviderId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ProviderId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProviderId })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {

    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")
    <script>
 $(document).ready(function () {
 $('.table').DataTable();
 });
    </script>
}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css"
      rel="stylesheet" />