@model FIT5032AssignmentV1.Models.CourseType

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CourseType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseTypeDec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseTypeDec)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CourseTypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
