@model IEnumerable<FIT5032AssignmentV1.Models.BookCourse>

@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>You create the course successfully</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.applicationUser.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.providerCourse.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.providerCourse.CourseTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>

            <th></th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.applicationUser.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.providerCourse.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.providerCourse.CourseTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>

                <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("Edit |", "Edit", new { id = item.BookCourseId })
                        @Html.ActionLink("Delete", "Delete", new { id = item.BookCourseId })
                    }


                </td>
            </tr>
        }
    </tbody>

</table>

@section Scripts {

    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css"
      rel="stylesheet" />
